Source: pycairo
Section: python
Priority: optional
Maintainer: Tycho Andersen <tycho@tycho.ws>
XSBC-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Dave Beckett <dajobe@debian.org>, Torsten Marek <shlomme@debian.org>, Tycho Andersen <tycho@tycho.ws>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.90~), python-all-dev (>= 2.6.6-3~), python-all-dbg (>= 2.5.4-1~), libcairo2-dev (>= 1.8.6), python-sphinx, automake, libtool, python-xpyb (>= 1.3.1)
Standards-Version: 3.8.3
Homepage: http://cairographics.org/pycairo/
X-Python-Version: >= 2.5

Package: python-cairo
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, python-xpyb (>= 1.3.1)
Provides: ${python:Provides}
Description: Python bindings for the Cairo vector graphics library
 This package contains modules that allow you to use the Cairo vector
 graphics library in Python programs.
